body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, Futura, sans-serif;
    margin: 0;
    padding: 0;
}


.top {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 16px 32px;
}


ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin:64px 32px;
}

img {
    width: 300px;
    height: auto;
}

.button {
    background-color: rgb(25, 144, 255);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    gap : 64px;
    margin: 32px;
}

.card-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid blue;
    border-radius: 16px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title {
    font-size: 32px;
    margin-top: 32px;
}

.quote-container {
    display: flex;
    color: white;
    background-color: gray;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.quote {
    margin:10px;
}